{% extends "coltrane/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@10.2.0/dist/style.css" rel="stylesheet" type="text/css" integrity="sha384-CinX6s1UC1GpaQwL9eKshF7JhtC8H2xchDD0dWqlCgZ8t+GCCcjluxCgmsbVpdEh" crossorigin="anonymous">

{% block table_content %}{% endblock table_content %}

<script type="module">
  import { DataTable } from "https://cdn.jsdelivr.net/npm/simple-datatables@10.2.0/+esm"
  document.querySelectorAll(".data-table").forEach((table) => {
    new DataTable(table, {
      perPageSelect: [10, 50, ["All", -1]],
      tableRender: (_data, tableElement, type) => {
        if (type === "print") {
          return tableElement
        }
        const tHead = tableElement.childNodes.find(node => node.nodeName === "THEAD")
        if (!tHead) return tableElement
        const headerRow = tHead.childNodes.find(node => node.nodeName === "TR")
        if (!headerRow) return tableElement
        const thNodes = headerRow.childNodes.filter(node => node.nodeName === "TH")
        const filterHeaders = {
          nodeName: "TR",
          childNodes: thNodes.map(
            (_th, colIndex) => ({
              nodeName: "TH",
              childNodes: [
                {
                  nodeName: "INPUT",
                  attributes: {
                    class: "datatable-input",
                    type: "search",
                    placeholder: "Search...",
                    "data-columns": `[${colIndex}]`
                  }
                }
              ]
            })
          )
        }
        tHead.childNodes.push(filterHeaders)
        return tableElement
      }
    })
  })
</script>
{% endblock content %}
